
<div class="collapse_bar sidebar" [ngClass]="{ 'hidden': !isCollapsed }">

  <button class="icon_menu" (click)="toggleCollapse()">
    <a><img src="../../../assets/sidebar/menu.png"></a>
  </button>
<!--Espacio entre menu desplegar y opciones menú-->
  <div class="options_menu" >
    <button class="icon_dashboard">
      <a><img src="../../../assets/sidebar/dashboard.png"></a>
    </button>

    <button class="icon_edit_workouts">
      <a><img src="../../../assets/sidebar/edit.png"></a>
    </button>

    <button class="icon_edit_user">
      <a><img src="../../../assets/sidebar/notebook.png"></a>
    </button>
  </div>
<!--Espacio entre opciones menú y salir-->
  <button class="icon_exit">
    <a><img src="../../../assets/sidebar/exit.png"></a>
  </button>

</div>

<div class="expand_bar sidebar" [ngClass]="{ 'hidden': isCollapsed }">

  <button class="collapse_button" (click)="toggleCollapse()" >
    <a><img src="../../../assets/sidebar/minimize.png" alt=""></a>
  </button>

  <div class="user_space">
    <a href=""><img src="../../../assets/sidebar/user.png" alt=""></a>
    <a href=""><p>{{ gym_name }}</p></a>
    <a href=""><p>{{ gym_email }}</p></a>
  </div>

  <!--Espacio entre menu desplegar y opciones menú-->
  <div class="options_menu" >

    <button class="icon_dashboard">
      <a><img src="../../../assets/sidebar/dashboard.png"></a>
      <a href=""><p>Inicio</p></a>
    </button>

    <button class="icon_edit_workouts">
      <a><img src="../../../assets/sidebar/edit.png"></a>
      <a href=""><p>Gestionar Rutinas</p></a>
    </button>

    <button class="icon_edit_user">
      <a><img src="../../../assets/sidebar/notebook.png"></a>
      <a href=""><p>Gestionar Usuarios</p></a>
    </button>
  </div>
<!--Espacio entre opciones menú y salir-->
  <button class="icon_exit">
    <a><img src="../../../assets/sidebar/exit.png"></a>
    <a href=""><p>Cerrar Sesion</p></a>
  </button>

</div>
