<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caf-Gym Banner</title>
</head>
<body>
  <div class="main_box">

    <div class="banner">
      <img src="../../../assets/login/banner_login.jpg" alt="Banner Image">
      <div class="banner-text">
        <h1 class="title">CAF - GYM</h1>
        <p class="subtitle">Centro de acondicionamiento físico</p>
      </div>
    </div>

    <div class="form_login">

      <div class="center_items">
        <div><p class="title_form">Bienvenido a CAF</p></div>
        <app-btn-double-selection (buttonClicked)="toggleForms($event)"></app-btn-double-selection>
      </div>

      <app-login-form [hidden]="selectedButton !== 'Ingreso'"></app-login-form>
      <app-register-form [hidden]="selectedButton !== 'Registro'"></app-register-form>

    </div>
  </div>
</body>
