/* app-password-input.component.scss */
.rounded-input {
  border: 1px solid #9e896a;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.rounded-input:focus {
  border-color: #c59b2d;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: -40px; /* Ajusta el margen según tus necesidades */

}




